<a href="https://colab.research.google.com/github/KhmAsif/IMSE441/blob/main/Lab0_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mounting Google Drive**

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import pandas as pd

In [18]:
Data= pd.read_csv('/content/drive/MyDrive/IMSE_441/Dams_2023.csv')
Data

,Dam_Name,Latitude,Longitude,NID_ID,Primary_Purpose,State,Year_Completed,Dam_Height,Dam_Length,Drainage_Area,Max_Discharge,Max_Storage,Structural_Height,Surface_Area,Volume
0,ELK RIVER DAM,35.2981,-86.0970,TN05101,Flood Control,TN,1952,82.0,"2,943",263,"101,000","101,844",82.0,"3,910","972,400"
1,TREMAINE RESERVOIR,34.7599,-111.2174,AZ00089,Irrigation,AZ,1952,30.0,"1,935",17,"7,647","8,000",30.0,265,"4,063,500"
2,BEALE,39.1083,-121.3366,CA10115,Flood Control,CA,1952,16.0,165,0.85,"2,566",60,18.0,2,"7,100"
3,BLACKWELDER,39.1583,-121.3833,CA10116,Flood Control,CA,1962,14.0,"1,000",6.35,482,330,19.0,35,"34,700"
4,MILLER,39.1699,-121.3966,CA10119,Flood Control,CA,1962,25.0,"1,300",3.44,"1,174",500,26.0,580,"45,200"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74091,MEADOW CREEK,39.8066,-107.5472,CO00695,Recreation,CO,1958,61.0,352,2.94,"1,833","1,389",77.0,55,"66,747"
74092,HEART LAKE NORTH DIKE,39.7749,-107.3200,CO02889,Recreation,CO,1953,18.0,"1,337",5.1,"2,650","5,402",24.0,329,"26,166"
74093,LITTLE HELL'S CANYON,35.0813,-112.4055,AZ00215,"Fire Protection, Stock, Or Small Fish Pond",AZ,1951,30.0,500,53.7,"8,000","1,612",NaN,12,"112,000"
74094,BEAVER PARK,37.5961,-106.6666,CO00763,Recreation,CO,1912,114.0,435,47,"29,000","5,800",114.0,94,NaN
74095,LYNX LAKE,34.5225,-112.3863,AZ00049,Recreation,AZ,1962,70.0,380,18.5,"20,000","2,763",89.2,52.5,"68,700"

In [19]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74096 entries, 0 to 74095
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dam_Name           70275 non-null  object
 1   Latitude           73999 non-null  float64
 2   Longitude          74001 non-null  float64
 3   NID_ID             74096 non-null  object
 4   Primary_Purpose    71375 non-null  object
 5   State              74096 non-null  object
 6   Year_Completed     74096 non-null  int64
 7   Dam_Height         68294 non-null  float64
 8   Dam_Length         68691 non-null  object
 9   Drainage_Area      56865 non-null  object
 10  Max_Discharge      48112 non-null  object
 11  Max_Storage        72221 non-null  object
 12  Structural_Height  43770 non-null  float64
 13  Surface_Area       57129 non-null  object
 14  Volume             33860 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 8.5+ MB

In [20]:
Data['Latitude'].describe()

count    73999.000000
mean        38.535344
std          4.951658
min         13.360500
25%         34.500000
50%         38.986600
75%         41.976600
max         71.266600
Name: Latitude, dtype: float64